@use "variables" as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
}

body {
  font-family: v.$font-family;
  background: v.$light-gray;
  color: v.$dark-gray;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10%;
}

@media (max-width: v.$bp-md) {
  body {
    height: auto;
  }
}