$violet: hsl(263, 55%, 52%);
$dark-gray: hsl(217, 19%, 35%);
$light-gray: hsl(214, 17%, 92%);
$white: hsl(0, 0%, 100%);
$dark: hsl(0, 0%, 7%);
$dark-blue: hsl(219, 29%, 14%);

$font-family: "Barlow Semi Condensed", sans-serif;

$radius: 0.5rem;
$gap: 1.5rem;

$bp-md: 700px;
$bp-lg: 1024px;